		.wrapper{
	
			width: 930px;
			margin: 20px auto 20px auto;
		}

		header{
			width: 920px;
			height: 100px;
			margin: 4px;

		}

		.logo{
			float: left;
			width: 140px;
			height: 80px;
			margin: 5px;
		}

		.logo img{
			width: 140px;
			height: 80px;
		}

		nav{
			float: left;

			width: 770px;
			height: 30px;
			margin: 20px 0px 0px 0px;	
		}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    margin-right: 80px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}



		.banner{
			width: 920px;
			height: 200px;
			margin: 4px;
		}

		.banner img{
			width: 920px;
			height: 200px;
		}

		.berita{
			float: left;
			width: 600px;
			height: 300px;
			margin: 4px;
		}
		aside{
			float: left;
			width: 310px;
			height: 300px;
			margin: 4px;
		}

		footer{
			clear: both;
			border: 1px solid black;
			width: 920px;
			height: 20px;
			margin: 4px;
			text-align: center;
		}

		.form-group {
			margin : 30px;
		}